.home-container {
    position: relative;
    display: flex;
    margin-top: 120px;
    width: 100%;
    padding: 0 100px;
    background-color: var(--background-color);
    justify-content: center;
}

.home-container-introduction {
    font-size: 63px;
    font-weight: 600;
    text-align: center;
    line-height: 1.1;
    position: relative;
    z-index: 1;
    margin-top: 70px;
    margin-bottom: 80px;
}

.home-container-content {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    line-height: 1.1;
    position: relative;
    z-index: 1;
    margin-bottom: 40px;
}

.home-container-introduction-special {
    color: var(--special-color-disabled);
}

.home-container-socials {
    width: 100%;
    padding: 0 100px;
    margin-top: 500px;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-normal-text {
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 40px;
}

.background-image {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: 
        linear-gradient(to bottom, #1c1c1e, rgba(28, 28, 30, 0)),
        url('/background_desktop.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(95%);
    margin-top: 120px;
}

.home-container-socials-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;
    margin-top: 24px;
}

.home-container-socials-footer a {
    text-decoration: underline;
    text-underline-offset: 0.2em;
}

@media screen and (max-width: 1024px) {
    .home-container-introduction {
        font-size: 55px;
    }
}

@media screen and  (max-width: 768px) {
    .home-container {
        margin-top: 90px;
        padding: 0 20px;
    }

    .home-container-introduction {
        font-size: 28px;
        margin-top: 30px;
        margin-bottom: 40px;
        font-weight: 600;
    }

    .home-container-content {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 30px;
    }

    .home-normal-text {
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 30px;
    }

    .home-container-socials {
        padding: 0 20px;
        margin-top: 350px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .background-image {
        background-image: 
            linear-gradient(to bottom, #1c1c1e, rgba(28, 28, 30, 0)),
            url('/background_mobile.jpg');
        margin-top: 90px;
    }

    .home-container-socials-footer {
        gap: 20px;
    }
}