.portfolio-container {
    position: relative;
    display: flex;
    margin-top: 120px;
    width: 100%;
    padding: 0 100px;
    background-color: var(--background-color);
    text-align: center;
    justify-content: center;
}

.portfolio-container-introduction {
    font-size: 63px;
    font-weight: 600;
    text-align: center;
    line-height: 1.1;
    position: relative;
    z-index: 1;
    margin-top: 60px;
    margin-bottom: 60px;
}

.portfolio-container-introduction-special {
    color: var(--special-color-disabled);
}

.portfolio-projects-section {
    margin-top: 120px;
    margin-bottom: 120px;
    padding: 0 100px;
    width: 100%;
}

.portfolio-category {
    margin-bottom: 80px;
}

.portfolio-category:last-child {
    margin-bottom: 0;
}

.portfolio-category-heading {
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 60px;
    color: var(--special-color);
}

.portfolio-myworks {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 50px;
}

.portfolio-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 20px;
    background-color: #f2f4f6;
}

.portfolio-card-image {
    width: 100%;
    height: 400px;
}

.portfolio-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
    gap: 20px;
}

.portfolio-card-title {
    font-size: 26px;
    font-weight: 500;
}

.portfolio-card-btn {
    padding: 10px 30px;
    flex-shrink: 1;
    background-color: var(--special-color);
    color: var(--white-color);
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.portfolio-card-btn:hover {
    background-color: var(--special-color-hover);
}

@media screen and  (max-width: 768px) {
    .portfolio-container {
        margin-top: 90px;
        padding: 0 20px;
    }

    .portfolio-container-introduction {
        font-size: 28px;
        margin-top: 30px;
        margin-bottom: 40px;
        font-weight: 600;
    }

    .portfolio-container-socials {
        padding: 0 20px;
        margin-top: 350px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .portfolio-projects-section {
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 0 20px;
    }

    .portfolio-category {
        margin-bottom: 60px;
    }

    .portfolio-category-heading {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 40px;
    }

    .portfolio-myworks {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 40px;
    }
    
    .portfolio-card-image {
        width: 100%;
        height: 400px;
    }
    
    .portfolio-card-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .portfolio-card-content {
        display: flex;
        flex-direction: column;
        padding: 20px;
        padding-bottom: 40px;
        gap: 20px;
    }
    
    .portfolio-card-title {
        font-size: 22px;
        font-weight: 500;
    }

    .portfolio-card-subtitle {
        font-style: normal;
        font-weight: 400;
        line-height: 157.7%;
    }
}